{% extends "layout.html" %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0" method="get" action="/search">
            <input autofocus autocomplete="off" aria-label="Search" class="form-control mr-sm-2" type="text" placeholder="Search" name="q">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0" aria-pressed="true">Search</button>
        </form>
    </div>
</nav>



<script>
    function getFile(filePath) {
        return filePath.substr(filePath.lastIndexOf('\\') + 1);
    }

    if(typeof(String.prototype.trim) === "undefined")
    {
        String.prototype.trim = function()
        {
            String.replace(/(^[ '\^\$\*#&]+)|([ '\^\$\*#&]+$)/g, '')
        };
    }

    function getExtension(fileName) {
        return fileName.split('.').pop();
    }
</script>

<script>
    let input = document.querySelector('input');
    input.onkeyup = function () {
        let html = '';

        if (input.value) {
            let search = String(input.value);

            for (path of PATHES) {

                let tempFileName = getFile(path);

                if (search.startsWith("\"") && search.endsWith("\"")) {
                    if (tempFileName === search) {
                        html += '<li>' + path + '</li>'
                    }
                }
                else if (search.startsWith("*")) {
                    let trimmed = search.trim();

                    if (trimmed.startsWith(".")) {
                        if (getExtension(tempFileName) === getExtension(trimmed)) {
                            html += '<li>' + path + '</li>'
                        }
                    }
                    else {
                        if (tempFileName.includes(search)) {
                            html += '<li>' + path + '</li>'
                        }
                    }
                }
            }
        }

        document.querySelector('ul').innerHTML = html;
    }
</script>
{% endblock %}