{% extends "browselayout.html" %}

{% block body %}

<div class="container">
    <div id="grid-view" class="row view-group">
        {% for item in item_list: %}
        <div class="item col-xs-20 col-lg-2">
            <div class="thumbnail card border-0">

                <div class="img-event" align="center">
                    <a href="{{ url_for('browse', req_path = item.path) }}">
                        <object width="100" height="100" align="center" class="group list-group-image img-fluid" data="{{  url_for('static', filename=item.icon) }}" type="image/png">
                            <img width="100" height="100" align="center" class="group list-group-image img-fluid" src="{{ url_for('static', filename=item.default_icon) }}" alt=""/>
                        </object>
                    </a>
                </div>

                <div class="caption card-body">
                    <a href="{{ url_for('browse', req_path = item.path) }}">
                        <h5 align="center" class="group card-title inner list-group-item-heading">{{ item.name }}</h5>
                    </a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}