{% extends "browselayout.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 my-3">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-info" id="list">
                        List View
                    </button>
                    <button class="btn btn-danger" id="grid">
                        Grid View
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="grid-view" class="row view-group">
        {% for item in item_list: %}
            <div class="item col-xs-20 col-lg-2">
                <div class="thumbnail card">

                    <div class="img-event">
                        <a href="{{ url_for('browse', req_path = item.path) }}">
                                   <object align="center" class="group list-group-image img-fluid" data="{{  url_for('static', filename=item.icon) }}" type="image/png" width="256" height="256">
                                    <img align="center" class="group list-group-image img-fluid" src="{{ url_for('static', filename=item.default_icon) }}" alt="" width="256" height="256"/>
                              </object>
                        </a>
                    </div>

                    <div class="caption card-body">
                        <a href="{{ url_for('browse', req_path = item.path) }}">
                            <h4 align="center" class="group card-title inner list-group-item-heading">{{ item.name }}</h4>
                        </a>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}